* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
/* Corpo, parte 1*/

body {
  background-color: #27b1bf;
  height: 100%;

  overflow: hidden;
}

main {
  display: flex;
}

.titulo {
  margin-top: 100px;
  margin-left: 111px;
  width: 23rem;
  word-wrap: break-word;

  font-size: 30px;
}

#descrição {
  color: #a23e48;
  font-size: 16px;
  margin-top: 3px;
}

#icon-localização {
  width: 25px;
  height: 25px;
}

#localização {
  width: 240px;
  height: 75px;
  background-color: #36cecc;

  font-size: 24px;
  color: #ffffff;
  border: none;

  margin-top: 10px;
  margin-left: 29px;

  border-radius: 9px;
}

#localização:hover {
  background-color: #ff3c38;
  cursor: pointer;
}

/* Corpo, parte 2*/
section {
  width: 855px;
  height: 625px;
  background-color: #176585;

  display: list-item;

  margin-left: 40px;

  list-style: none;
}
.img-P {
  display: flex;

  justify-content: space-evenly;
}

#img-1 {
  margin-top: 3rem;
  width: 570px;
  height: 380px;

  margin-left: 110px;
}
#img-section {
  width: 270px;
  height: 184px;

  overflow: hidden;
}

#img-section {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#img-section:hover {
  -moz-transform: scale(1.1);
  -webkit-transition: scale(1.1);
  transform: scale(1.1);
}

/* Modal-1 */
.fechar {
  width: 30px;
  height: 30px;
margin-top: 6px;
  border-radius: 50%;
  margin-left: 95%;
  position: absolute;
  top: 0px;
  z-index: 0;
}

.modal-1 {
  width: 760px;
  height: 500px;
  display: none;
  background-color: #36cecc;
  position: absolute;
  left: 30%;
  top: 10%;

  animation: animate;
  animation-duration: 800ms;

  border-radius: 15px;
  border: 1px solid;
}

@keyframes animate {
  from {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

#titulo-modal1 {
  margin-left: 5px;
}
#p-modal1 {
  margin-left: 3px;
  color: #a23e48;
  font-size: 16px;
  margin-top: 3px;
}
.img-modal1 {
  width: 60%;
  height: 96%;
  float: right;
  margin-right: 8px;
  margin-top: 2px;

  border-radius: 4px;
}

#btn-modal1 {
  width: 229px;
  height: 75px;
  background-color: #ff0000;

  font-size: 24px;
  color: #f7f3cf;
  border: none;

  border-radius: 9px;
  margin-left: 20px;
}

#btn-modal1:hover {
  background-color: #ff3c38;
  cursor: pointer;
}