* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
/* Corpo, parte 1*/

body {
  background-color: #FFD11D;
  height: 100%;

  overflow: hidden;
}

main {
  display: flex;
}

.titulo {
  margin-top: 100px;
  margin-left: 111px;
  width: 23rem;
  word-wrap: break-word;

  font-size: 35px;
}

#descrição {
  color: #5B6371;
  font-size: 16px;
  margin-top: 3px;
}

#icon-localização {
  width: 25px;
  height: 25px;
}

#localização {
  width: 240px;
  height: 75px;
  background-color: #5C80BD;

  font-size: 24px;
  color: #ffffff;
  border: none;

  margin-top: 36px;
  margin-left: 29px;

  border-radius: 9px;
  padding-bottom: 8px;
}

#localização:hover {
  background-color: #6690CB;
  cursor: pointer;
}

/* Corpo, parte 2*/
section {
  width: 855px;
  height: 625px;
  background-color: #1D1E1B;

  display: list-item;

  margin-left: 40px;

  list-style: none;
}
#img{
  display: flex;

  justify-content: space-evenly;
}


#img-1 {
  margin-top: 25px;
  width: 570px;
  height: 380px;

  margin-left: 190px;
  
}



#img-section {
  width: 300px;
  height: 184px;
margin-top: 3px;
  overflow: hidden;
  cursor: pointer;
  
 
}



#img-section {
  max-width: 98%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#img-section:hover {
  -moz-transform: scale(1.1);
  -webkit-transition: scale(1.1);
  transform: scale(1.1);
}

#VejaMais{
  margin-left: 6px;
  color:#5C80BD;
}

/* Modal-1 */
.fechar {
  width: 30px;
  height: 30px;
margin-top: 6px;
  border-radius: 50%;
  margin-left: 45.9rem;
  position: absolute;
  top: 0px;
  z-index: 0;
  cursor: pointer;
}

.modal-1, .modal-2, .modal-3, .modal-4, .modal-5 {
  width: 760px;
  height: 500px;
  display: none;
  background-color:  #FFD11D;
  position: absolute;
  left: 30%;
  top: 5%;

  animation: animate;
  animation-duration: 800ms;

  border-radius: 9px;
  border: 3px solid;
}

@keyframes animate {
  from {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

#titulo-modal {
  margin-left: 5px;
}
#p-modal {
  margin-left: 3px;
  color: #5B6371;
  font-size: 16px;
  margin-top: 3px;
}
.img-modal {
  width: 60%;
  height: 96%;
  float: right;
  margin-right: 8px;
  margin-top: 5px;

  border-radius: 4px;
}

#btn-modal {
  width: 229px;
  height: 75px;
  background-color: #5C80BD;

  font-size: 24px;
  color: #f7f3cf;
  border: none;

  border-radius: 9px;
  margin-left: 20px;
  margin-top: 4rem;
}

#btn-modal:hover {
  background-color: #6690CB;
  cursor: pointer;
}

/* carrossel*/
.tns-controls{
 display: none;
}
.tns-nav{
  display: none;
}

/* responsividade*/
@media (max-width:800px){
   body, .titulo{
    font-size: 90.5%;

  }
  .titulo{
    margin-top: 5%;
  margin-left: 2%;
  width: 90%;
  
  }
  section{
    background-color: #FFD11D;
  }
  main{
    display: block;
  }
}
